/* General styles */

* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat Alternates", sans-serif;
	transition: all 0.5s ease;
}

body {
	background-image: url("../assets/img/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/* header */

header {
	width: 100%;
}

.navigation {
	padding: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1600px;
	/* box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.6); */
}

.logo h2 {
	color: #3656d4;
	font-weight: 900;
}

.navbar ul {
	display: flex;
	margin: 0 1em;
}

.navbar ul li {
	list-style: none;
	padding: 10px;
}

.navbar ul li:last-child {
	border: 1px solid transparent;
	border-radius: 5px;
	background: #3656d4;
}

.navbar ul li a {
	text-decoration: none;
	color: #6d7b93;
	font-weight: 600;
}

.navbar ul li:last-child a {
	color: #fff;
}

/* main section */

.hero-section {
	width: 100%;
}

.hero-container {
	max-width: 1600px;
	margin: 10px auto;
	display: flex;
	justify-content: space-between;
}

.section-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	width: 40%;
	position: relative;
	z-index: 1;
}

.section-text .text {
	padding: 4em 4em 3.5em 4em;
	margin: 2em auto 0 auto;
}

.text h1 {
	font-size: 58px;
	color: #1f3e72;
	font-weight: 900;
}

.text p {
	margin: 2em auto 0 auto;
	color: #6d7b93;
	font-size: 18px;
	font-weight: 700;
}

.emojis {
	display: flex;
	justify-content: space-between;
}

.emojis p {
	margin: 0 2em;
	color: #1f3e72;
	font-weight: 900;
}

.emojis img {
	height: 20px;
	width: 20px;
}

.enfermera-image {
	position: relative;
	z-index: 1;
}

/* scheduler */

.scheduler {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	position: absolute;
	z-index: 2;
	top: 50em;
	left: 8em;
	margin: 0 auto;
	
}

.scheduler img {
	width: 20px;
	height: 20px;
	margin: 0 10px 0 0;
}

.scheduler-title {
	display: flex;
	align-items: center;
}

.scheduler-body {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid transparent;
	border-radius: 10px;
	background-color: #fff;
	padding: 2em;
	width: 80%;
}

.scheduler-item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
