/* General styles */

* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	transition: all 0.5s ease;
}

body {
	background-image: url("../assets/img/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}

.section-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4em 2em 3.5em 2em;
	margin: 2em auto 0 auto;
	width: 40%;
	position: relative;
	z-index: 1;
}

.text h1 {
	font-size: 58px;
	color: #1f3e72;
	font-weight: 900;
}

.text h2 {
	font-size: 35px;
	color: #1f3e72;
	font-weight: 900;
}

.text p {
	margin: 2em auto 0 auto;
	color: #6d7b93;
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 1em;
}

/* header */

header {
	width: 100%;
}

.navigation {
	position: relative;
	padding: 2em 0 2em 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1600px;
	margin: 0 auto;
}

.logo h2 {
	color: #3656d4;
	font-weight: 900;
	font-family: "Montserrat Alternates", sans-serif;
}

.navigation-bar {
	top: 0;
	right: 0;
	z-index: 1;
}

/* hamburger */

.navigation-bar .hamburger-toggler {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	cursor: pointer;
	width: 50px;
	height: 50px;
	opacity: 0;
}

.hamburger {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 55px;
	height: 55px;
	padding: 1rem;
	background-color: #3656d4;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	cursor: pointer;
	z-index: 1;
}

/* hamburger lines */

.navigation-bar .hamburger > div {
	position: relative;
	width: 100%;
	height: 3px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 10px;
}

/* top and bottom lines */

.navigation-bar .hamburger > div:before,
.navigation-bar .hamburger > div:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: -10px;
	width: 100%;
	height: 3px;
	background: inherit;
}

.navigation-bar .hamburger > div:after {
	top: 10px;
}

/* hamburger-state */

.hamburger-toggler,
.hamburger {
	display: none;
}

/* toggler animate */
.navigation-bar .hamburger-toggler:checked + .hamburger > div {
	transform: rotate(-135deg);
}

.navigation-bar .hamburger-toggler:checked + .hamburger > div:before,
.navigation-bar .hamburger-toggler:checked + .hamburger > div:after {
	top: 0;
	transform: rotate(-90deg);
}

/* rotate on hover when checked */
.navigation-bar .hamburger-toggler:checked:hover + .hamburger > div {
	transform: rotate(-225deg);
}

.navigation-bar .hamburger-toggler:checked ~ ul {
	right: 1em;
	background: grey;
}

/* navbar menu */
.navigation-bar ul {
	display: flex;
	margin: 0 1em;
}

.navigation-bar ul li {
	padding: 10px;
}

.navigation-bar ul li:last-child {
	border: 1px solid transparent;
	border-radius: 5px;
	background: #f1f5ff;
}

.navigation-bar ul li:last-child:hover {
	background: #3656d4;
}

.navigation-bar ul li a {
	text-decoration: none;
	color: #6d7b93;
	font-weight: 600;
}

.navigation-bar ul li:last-child a {
	color: #3656d4;
}

.navigation-bar ul li:last-child a:hover {
	color: #fff;
}

/* main section */

.hero-section {
	width: 100%;
}

.hero-container {
	max-width: 1600px;
	margin: 10px auto;
	display: flex;
	justify-content: space-between;
}

.emojis {
	display: flex;
	justify-content: space-between;
}

.emojis p {
	margin: 0 2em;
	color: #1f3e72;
	font-weight: 900;
}

.emojis img {
	height: 20px;
	width: 20px;
}

.enfermera-image {
	position: relative;
	z-index: 1;
}

/* scheduler */

.scheduler {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	z-index: 2;
	top: 48em;
	left: 7%;
	max-width: 1200px;
}

.scheduler img {
	width: 20px;
	height: 20px;
	margin: 0 10px 0 0;
}

.scheduler-title {
	display: flex;
	align-items: baseline;
}

.scheduler-title h3 {
	font-size: 1.6em;
	font-weight: 700;
	color: #1f3e72;
}

.scheduler-body {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid transparent;
	border-radius: 10px;
	background-color: #fff;
	padding: 2em;
	width: 80%;
}

.scheduler-item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.scheduler-item label {
	color: #6d7b93;
	font-size: 20px;
}

.scheduler-item input:not(.scheduler-submit),
.scheduler-item select,
.scheduler-item option {
	outline: none;
	padding: 10px;
	background-color: #fff;
	color: #1f3e72;
	font-weight: 900;
}

.scheduler-submit {
	background-color: #3656d4;
	color: #fff;
	font-weight: 700;
	padding: 10px 25px;
	border: 1px solid transparent;
	border-radius: 10px;
}

/* logos section */

.logos-section {
	width: 100%;
	margin: 7em auto;
}

.logos-container {
	max-width: 1600px;
	align-items: baseline;
}

/* vaccines reason section */

.vaccines-reason-section {
	width: 100%;
	margin: 4em auto;
}

.vaccines-reason-container {
	max-width: 1600px;
	display: flex;
	flex-direction: column;
	padding: 0 2em;
	margin: 2em auto;
}

.reason-text {
	width: 45%;
}

/* cards */

.reason-cards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
}

.reason-card {
	padding: 40px;
}

.reason-card:hover {
	transform: scale(1.2);
}

.reason-cards .reason-card img {
	width: 35px;
	height: 35px;
	padding: 5px;
	margin-bottom: 1em;
	border: 1px solid transparent;
	border-radius: 5px;
	background: #fff;
}

.reason-card h3 {
	color: #1f3e72;
	font-weight: 700;
}

.reason-card p {
	color: #6d7b93;
}

/* preparation section */

.preparations {
	width: 100%;
}

.preparations-container {
	max-width: 1600px;
	margin: 4em auto;
	padding: 4em 0;
	display: flex;
	justify-content: space-between;
}

/* accordion */

.accordion {
	padding: 1em;
}

.accordion-item button img {
	width: 25px;
	height: 25px;
	margin-right: 5px;
}

.accordion-button {
	color: #3656d4;
	font-weight: 700;
}

.accordion-body {
	color: #6d7b93;
}

/* emergency section */

.emergency {
	width: 100%;
}

.emergency-container {
	max-width: 1600px;
	margin: 10px auto;
	padding: 10px 0;
}

.emergency-cards {
	display: flex;
	flex-wrap: wrap;
	margin: 1em;
}

.emergency-card {
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.emergency-card:hover {
	transform: scale(1.2);
	box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
}

.emergency-card-header {
	display: flex;
	align-items: unset;
}

.emergency-card-header img {
	width: 45px;
	height: 45px;
	margin-right: 10px;
	border: none;
	background-color: #f1f5ff;
	border-radius: 10px;
	padding: 10px;
}

.emergency-card-title h5 {
	color: #1f3e72;
	font-size: 18px;
	font-weight: 900;
}

.emergency-card-title p {
	color: #6d7b93;
	font-size: 12px;
}

.emergency-card-footer {
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
	background-color: #f1f5ff;
	color: #3656d4;
	font-size: 12px;
	font-weight: 900;
	cursor: pointer;
}

.emergency-card-footer:hover {
	background-color: #3656d4;
	color: #fff;
}

/* footer section */
.footer {
	width: 100%;
	background-color: #eef3ff;
}

.footer-container {
	max-width: 1600px;
	display: flex;
	justify-content: space-around;
	margin: 2em auto;
	padding: 3em 4em 2em 4em;
}

.vaccination-goal {
	margin-bottom: 3em;
}

.vaccination-goal h5,
.vaccination-goal p {
	width: 35%;
}

.vaccination-goal h5 {
	color: #3656d4;
	font-size: 30px;
	font-weight: 900;
}

.vaccination-goal p {
	color: #6d7b93;
	font-size: 17px;
}

.navigation-columns h5 {
	color: #1f3e72;
	font-size: 28px;
	font-weight: 900;
}

.navigation-columns li a {
	padding: 2px 0;
	color: #6d7b93;
	text-decoration: none;
	cursor: pointer;
}

.copyright {
	color: #6d7b93;
	font-weight: 700;
}

.terms-privacy a {
	color: #6d7b93;
	font-weight: 700;
	text-decoration: none;
}

/* MOBILE */

@media only screen and (min-width: 375px) and (max-width: 640px) {
	/* hamburger-state */

	.navigation-bar .hamburger-toggler,
	.navigation-bar .hamburger {
		display: block;
		top: 1.25em;
		right: 1.25em;
	}
	.navigation-bar ul {
		display: none;
		transition: all 1s ease;
	}
	
	.navigation-bar ul li a {
		width: 100%;
		padding: 10px 0;
		justify-content: flex-end;
		align-items: flex-end;
	}

	/* toggler animation */

	.navigation-bar .hamburger-toggler:checked,
	.navigation-bar .hamburger-toggler:checked + .hamburger {
		top: 7em;
		right: 7em;
	}

	.navigation-bar .hamburger-toggler:checked ~ .menu > ul {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		position: relative;
	}


	.enfermera-image img {
		display: none;
	}
}

/* TABLET */

@media only screen and (min-width: 641px) and (max-width: 768px) {
	/* hamburger-state */

	.navigation-bar .hamburger-toggler,
	.navigation-bar .hamburger {
		display: block;
		top: 1.25em;
		right: 1.25em;
	}
	.navigation-bar ul {
		display: none;
		transition: all 1s ease;
	}
	
	.navigation-bar ul li a {
		width: 100%;
		padding: 10px 0;
		justify-content: flex-end;
		align-items: flex-end;
	}

	/* toggler animation */

	.navigation-bar .hamburger-toggler:checked,
	.navigation-bar .hamburger-toggler:checked + .hamburger {
		top: 7em;
		right: 7em;
	}

	.navigation-bar .hamburger-toggler:checked ~ .menu > ul {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		position: relative;
	}


	.enfermera-image img {
		display: none;
	}
}

/* LANDSCAPE TABLET */

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	
	.enfermera-image img {
		width: 90%;
	}
}

/* PC | LARGE DEVICES */

@media only screen and (min-width: 1025px) {
	/* hamburger-state */

	/* .hamburger-toggler,
	.hamburger {
		display: block;
	} */
}
